.App {
  text-align: center;
  background-color: #A31621;
  color: #FCF7F8;
  padding-bottom: 8em;
  margin: 2em 16em;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.titulo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
}

.añadirValor {
  margin: 1em;
  font-size: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 5px;
  border: black 0.15rem solid;
  text-align: center;
}

.button {
  background-color: #FCF7F8;
  color: #A31621;
  font-style:oblique;
  font-size: 1em;
  padding: 0.3em 0.4em;
  border-radius: 5px;
  border: black 0.15rem solid;
  cursor: pointer;
}

.button:hover {
  background-color: #f03c4b;
  color: #FCF7F8;
}

.resultado {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em;
}